.col-xs-6 {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 18px;
}

.col-xs-6:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.col-xs-6:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  left: -1px;
}

.exercise-link {
  float: right;
  margin-top: 30px;
}

.previous-exercise {
  margin-right: 20px;
}

h2 {
  float: left;
}

img {
  height: 12px;
  margin-top: -6px;
}

.workshop-name {
  position: relative;
  top: -10px;
  margin-left: 20px;
}

.navbar {
  border-radius: 0 !important;
}

svg {
  position: relative;
  top: -4px;
}
